[submodule "src/FFTW"]
	path = src/FFTW
	url = https://github.com/knbarton/fftw-3.3.8.git
        fxrequired = AlwaysRequired
        fxtag = master
	fxDONOTUSEurl = https://github.com/knbarton/fftw-3.3.8.git
[submodule "src/PPR"]
	path = src/PPR
	url = https://github.com/dengwirda/PPR.git
        fxrequired = AlwaysRequired
        fxtag = master
	fxDONOTUSEurl = https://github.com/dengwirda/PPR.git
[submodule "src/MARBL"]
	path = src/MARBL
	url = https://github.com/E3SM-Project/MARBL.git
        fxrequired = AlwaysRequired
        fxtag = stable
	fxDONOTUSEurl = https://github.com/E3SM-Project/MARBL.git
