[submodule "src/FFTW"]
	path = src/FFTW
	url = https://github.com/knbarton/fftw-3.3.8.git
        fxrequired = AlwaysRequired
        fxtag = master
	fxDONOTUSEurl = https://github.com/knbarton/fftw-3.3.8.git
[submodule "src/MARBL"]
	path = src/MARBL
	url = https://github.com/E3SM-Project/MARBL.git
        fxrequired = AlwaysRequired
        fxtag = marbl0.39.1
	fxDONOTUSEurl = https://github.com/E3SM-Project/MARBL.git
[submodule "src/cvmix"]
	path = src/cvmix
	url = https://github.com/CVMix/CVMix-src
        fxrequired = AlwaysRequired
        fxtag = master
	fxDONOTUSEurl = https://github.com/CVMix/CVMix-src.git
[submodule "cvmix"]
	path = src/cvmix
	url = https://github.com/CVMix/CVMix-src
